
    <div class="container my-5">
      <div class="row">
        <div class="col-lg-8">
          <!-- section 1 -->
          <h2 class="mb-4">{{projectDetails?.title}}</h2>
          <img [src]="'http://127.0.0.1:8000'+projectDetails?.images[0].image" class="cover-image mb-4" alt="" />

          <div class="d-flex align-items-center justify-content-start gap-4">
            <div class="d-flex align-items-center justify-content-center icon success">
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <span class="fw-bold">{{projectDetails?.owner.first_name}} {{projectDetails?.owner.last_name}} is organizing this fundraiser.</span>
          </div>
          <hr class="mb-4" />
          <!-- section 2 -->
          <div>
            <p class="fs-6">
              {{projectDetails?.details}}
            </p>
          </div>

          <!-- section 3 -->
          <div class="d-flex gap-3 mb-5 mt-5">
            <button type="button" class="btn btn-warning col p-2 donante col" data-bs-toggle="modal" data-bs-target="#rateModel">Rate</button>
            <button type="button" name="" id="" class="btn btn-warning col p-2 donante col" data-bs-toggle="modal" data-bs-target="#donateModel">Donate</button>
          </div>
          <hr class="mb-4" />

          <!--Owner section  -->
          <div class="mb-5">
            <h3 class="my-3">Owner</h3>
            <div class="d-flex align-items-start gap-4 mx-4">
              <div>
                <p class="h5">{{projectDetails?.owner.first_name}} {{projectDetails?.owner.last_name}}</p>
                <p>Contacts :</p>
                <a [href]="'mailto:' +projectDetails?.owner.email" target="_blank"><i class="fa-solid fa-envelope text-warning" style="font-size: 25px;"></i></a>
                <a *ngIf="projectDetails?.owner.facebook_profile" [href]="projectDetails?.owner.facebook_profile" target="_blank"><i class="fa-brands fa-facebook-square mx-4" style="font-size: 25px;"></i></a>
              </div>
            </div>
          </div>

          <hr class="mb-4" />

          <!--Comments section  -->
          <div class="mb-5">
            <h3 class="mb-5 mt-5">Comments</h3>
            <div class="d-flex align-items-start gap-4">
              <div class="col-12">
                <div class="d-flex justify-content-between" *ngFor="let comment of comments">
                  <div>
                    <div class="d-flex align-items-center justify-content-center icon success">
                      <img [src]="'http://127.0.0.1:8000'+comment?.user.profile_image" alt="user image" class="img-fluid">
                    </div>
                    <div class="comment px-2">
                      <p class="fw-bold">{{comment?.user.first_name}} {{comment?.user.last_name}}</p>
                      <p>
                        {{comment?.comment}}
                      </p>
                    </div>
                  </div>
                  <div (click)="getCommentId(comment?.id)"class="mx-2 mt-3" data-bs-toggle="modal" data-bs-target="#modelComment" style="cursor: pointer;"><span class="fst-italic text-warning bg-light px-1 rounded-1"><i class="fa-brands fa-font-awesome"></i> report</span></div>
                </div>
                <form [formGroup]="comment" (ngSubmit)="addCommet()">
                  <div class="input_field position-relative mt-3">
                    <input type="text" name="comment" formControlName="comment" placeholder="Write your comment" class="w-100 p-2" required />
                    <input [disabled]="comment.invalid" class="btn-success position-absolute h-100" type="submit" value="send" style="right: 0;z-index: 222;"/>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <hr class="mb-5 mt-5" />

          <!-- Date section -->

          <div class="d-flex align-items-center justify-content-start gap-4">
            <span><span class="fw-bold">Ends at</span> {{projectDetails?.end_campaign|date}}</span>
          </div>

          <hr class="mb-5 mt-5" />

          <!--Report Project section -->

          <div class="mb-5 mt-5">
              <!-- Button trigger modal -->
            <a class="flag p-2" data-bs-toggle="modal" data-bs-target="#modelId">
              <i class="fa-brands fa-font-awesome"></i> Report funraiser</a>
          </div>
        </div>
        <!-- Donation Sticky Section  -->
        <div class="col-lg-4">
          <div class="card border-0 shadow sticky-top my-5">
            <div class="card-body">
              <div class="fs-6 text-black">
                <span class="fs-4 fw-bold text-black">Total target {{projectDetails?.total_target|currency}} goal</span>
              </div>
              <div class="progress my-4" style="height: 5px">
                <div class="progress-bar bg-success" role="progressbar" [style.width]="progress+'%'"  aria-valuemin="0" aria-valuemax="50"></div>
              </div>
              <div class="rate text-center mt-3">
                <ngb-rating *ngIf="starRating" [max]="5" [(rate)]="starRating" style="font-size: 25px;" [readonly]="true" class="text-warning"></ngb-rating>
              </div>
              <div class="card-buttons mt-4">
                <button type="button" name="" id="" class="btn btn-warning p-2 d-block w-100" data-bs-toggle="modal" data-bs-target="#donateModel">Donate On</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End of col-lg-4 -->
      </div>
      <!-- End of Row -->
    </div>
    <!-- End of Container -->

<div class="main-head text-center my-5" *ngIf="similar">Similar Projects</div>
<div class="container mb-5" *ngIf="similar">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="row justify-content-center align-items-center">
          <div class="col-md-4 project-container" *ngFor="let project of similar;let i=index" [routerLink]="['/project/details', project.id]">
              <div class="img-box mb-3">
                <img class="img-fluid" [src]="'http://127.0.0.1:8000'+project.project.images[0].image" alt="project image" />
              </div>
              <h5>{{project.project.title}}</h5>
              <p>{{project.project.details|seeMore:60}}</p>
              <span class="fw-bold">By {{project.project.owner.first_name|titlecase}} {{project.project.owner.last_name|titlecase}}</span>
          </div>
    </div>
  </div>
</div>



<!-- Donation Modal -->
<div class="modal fade" id="donateModel" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Donation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="donation" (ngSubmit)="addDonation()">
          <div class="mb-3">
            <input formControlName="paid_up" type="number" class="form-control" name="paid_up" aria-describedby="helpId" placeholder=" Inter Your Donation...">
          </div>
          <div class="btns d-flex justify-content-end">
            <button type="button" class="btn btn-secondary mx-3" data-bs-dismiss="modal">Close</button>
            <button [disabled]="donation.invalid" type="sypmit" class="btn btn-danger">Donate</button>
          </div>
      </form>
      </div>
      </div>
    </div>
  </div>


    <!-- Report Modal -->
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Report a fundraiser</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="projectReport" (ngSubmit)="addProjectReport()">
              <div class="mb-3">
                <textarea formControlName="reason" type="text" class="form-control" name="reason" id="name" aria-describedby="helpId" placeholder=" Your Report Reason..."></textarea>
              </div>
              <div class="btns d-flex justify-content-end">
                <button type="button" class="btn btn-secondary mx-3" data-bs-dismiss="modal">Close</button>
                <button [disabled]="projectReport.invalid" type="sypmit" class="btn btn-danger">Report</button>
              </div>
          </form>
          </div>
          </div>
        </div>
      </div>



    <!--Comment Report Modal -->
    <div class="modal fade" id="modelComment" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Report Comment</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="commentReport" (ngSubmit)="addCommentReport()">
              <div class="mb-3">
                <textarea formControlName="reason" type="text" class="form-control" name="reason" id="name" aria-describedby="helpId" placeholder=" Your Report Reason..."></textarea>
              </div>
              <div class="btns d-flex justify-content-end">
                <button type="button" class="btn btn-secondary mx-3" data-bs-dismiss="modal">Close</button>
                <button [disabled]="commentReport.invalid" type="sypmit" class="btn btn-danger">Report</button>
              </div>
          </form>
          </div>
        </div>
      </div>
    </div>



<!--Rate Modal -->
<div class="modal fade" id="rateModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Rating Project</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <ngb-rating  [max]="5" [(rate)]="sendRating" style="font-size: 30px;" [readonly]="false" class="text-warning mt-4"></ngb-rating>
      </div>
      <div class="btns d-flex justify-content-end p-4 mt-2">
        <button type="button" class="btn btn-warning  mx-3" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="sendingRate()" >Send Rate</button>
      </div>
    </div>
  </div>
</div>
