<footer class="p-2 mt-5 position-relative">
  <div class="hero position-absolute"></div>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-4 position-relative">
        <div class="mt-5 social-menu position-relative">
          <ul>
            <li><a href="https://github.com/MohamedAlabasy" target="blank"><i class="fab fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/mohamed-alabasy-036971224/" target="blank"><i
                  class="fab fa-linkedin-in"></i></a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100074166459856" target="blank"><i
                  class="fa-brands fa-facebook-messenger"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright text-center mt-5 mb-2">© 2022 ITI By Mohamed Alabasy</div>
</footer>
