.cover-image{
  width: 100%;
  height: 423px;
  object-fit: fill;
  border-radius: 1rem;
  border: 1.5px solid rgba(70, 70, 70, 0.384);
  /* object-position: top; */

}

.icon{
  width:40px;
  height:40px;
  border-radius: 50%;
}

.icon.success{
  background-color:#27e7778a;
  color:aliceblue;
}

.donante {
  border: none;
}
.donante:hover{
  background-color: rgba(255, 255, 0, 0.267);
}

.share:hover{
  background-color: #fbf8f6;
}

.other{
  color:black;
}
.other:hover{
  color:green;
}


.flag{
  text-decoration: none;
}
.flag i{
  transform: skew(20deg);
  margin-inline-end: 0.5rem;
}
.flag:hover{
  cursor: pointer;
  background-color: #fbf8f6;
  border: 1px solid transparent;
  border-radius: 10%;
}

.sectionDonate{
  background-color: #fbf8f6;
}

.links li{
  list-style-type: none;
  margin-block-end: 1.2rem;

}
.links a{
text-decoration: none;
color:#333;
 padding: 0.8ex 1.5ex;
}
.links a:hover{
  cursor: pointer;
  background-color: #fbf8f6;
  border: 1px solid transparent;
  border-radius: 10%;


}


.card{
  border-radius: 10px;

}

.btn1{
  background: linear-gradient(rgba(255, 166, 0, 0.158),orange );
  border: none;
}
