<div class="container d-flex justify-content-center align-items-center my-5" style="height: 60vh;">
  <div class="position-relative p-3 text-center">
    <div class="icon-drop position-absolute">
      <button>
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="setValues()" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa-solid fa-pen-to-square text-warning" style="margin-right:5px"></i>Edit Profile</a></li>
        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-trash-can text-danger" style="margin-right:5px"></i>Delete my account</a></li>
      </ul>
    </div>
    <img [src]="'http://127.0.0.1:8000'+userData?.profile_image" alt="profile image" style="width: 100px; height: 100px;" class="img-fluid rounded-circle">
    <h3><span>{{userData?.first_name}} </span> <span>{{userData?.last_name}}</span></h3>
    <p class="text-center">{{userData?.email}}</p>
    <p class="text-center fw-bold">{{userData?.mobile_phone}}</p>
  </div>
</div>

<app-footer></app-footer>


<!-- Delete Modal  -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none;">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex justify-content-center align-items-center">
       <div class="text-center">
        <img src="../../../assets/crying-emoji-35.gif" alt="" width="100px;">
        <p class="mt-3">Are your shure you want to leave !?</p>
       </div>
      </div>
      <div class="modal-footer d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger" (click)="deleteUserProfile()">Yes</button>
      </div>
    </div>
  </div>
</div>


<!-- Edit Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title h5 text-warning" id="staticBackdropLabel">Edit Profile</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3" [formGroup]="updateProfile" (ngSubmit)="getUpdated()" nctype="multipart/form-data">
          <input type="text" hidden>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">First name </label>
            <input [class.is-valid]="updateProfile.get('first_name')?.status=='VALID'" type="text" class="form-control" placeholder="First name" aria-label="First name" formControlName="first_name">
            <p class="text-danger" *ngIf="updateProfile.get('first_name')?.errors != null && updateProfile.get('first_name')?.touched">Invalid Field</p>
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">last Name</label>
            <input [class.is-valid]="updateProfile.get('last_name')?.status=='VALID'" type="text" class="form-control" placeholder="Last name" aria-label="Last name" formControlName="last_name">
            <p class="text-danger" *ngIf="updateProfile.get('last_name')?.errors != null && updateProfile.get('last_name')?.touched">Invalid Field</p>
          </div>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" disabled>
          </div>
          <div class="col-md-6">
            <label for="inputBirthDate" class="form-label">Birth Date</label>
            <input type="date" class="form-control" id="inputBirthDate" name="Birth_date" formControlName="Birth_date" placeholder="1999-02-11">
          </div>
          <div class="col-md-6">
            <label for="inputPhone" class="form-label"> Mobile Phone</label>
            <input [class.is-valid]="updateProfile.get('mobile_phone')?.status=='VALID'" type="text" class="form-control" id="inputPhone" name="mobile_phone" formControlName="mobile_phone">
            <p class="text-danger" *ngIf="updateProfile.get('mobile_phone')?.errors != null && updateProfile.get('mobile_phone')?.touched">Invalid Field</p>
          </div>
          <div class="col-md-6">
            <label for="inputCountry" class="form-label">Country</label>
            <input type="text" class="form-control" id="inputCountry" name="country" formControlName="country">
          </div>
          <div class="col-12">
            <label for="inputProfileImage" class="form-label">Profile Image</label>
            <input type="file" class="form-control" id="inputProfileImage" name="profile_image" formControlName="profile_image"  (change)="onFileSelect($event)">
          </div>
          <div class="col-12">
            <label for="inputFacebookProfile" class="form-label">Facebook Profile</label>
            <textarea type="text" class="form-control" id="inputFacebookProfile" formControlName="facebook_profile">{{userData?.facebook_profile}}</textarea>
          </div>
          <div class="col-12">
            <input type="submit" class="btn btn-warning d-block w-100" value="Update" >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
