<div class="plus-button">
  <span class="button">
    <svg class="arrow arrow-left" viewBox="0 0 448 448">
      <path d="M272 176H32c-18 0-32 14-32 32v32c0 18 14 32 32 32h144v144c0 18 14 32 32 32h32c18 0 32-14 32-32V176z" />
    </svg>
    <svg class="arrow arrow-right" viewBox="0 0 448 448">
      <path d="M176 272h240c18 0 32-14 32-32v-32c0-18-14-32-32-32H272V32c0-18-14-32-32-32h-32c-18 0-32 14-32 32v240z" />
    </svg>
  </span>
  <span class="menu" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="cursor: pointer;">Add New Project</span>
</div>
<!-- <i class="fa-solid fa-circle-plus position-absolute " data-bs-toggle="modal" data-bs-target="#staticBackdrop"></i>--><div class="container">
  <div class="row my-5 justify-content-center align-items-center">
    <p *ngIf=" message" class="fw-bold my-5 text-center text-danger" style="height: 50vh;">{{message}}</p>
    <div class="col-md-4 my-5 project-container" *ngFor="let project of userProjects;let i=index" [routerLink]="['/myproject/details/', project.id]">
        <div class="img-box mb-3">
          <img class="img-fluid" [src]="'http://127.0.0.1:8000'+project.images[0]" [alt]="project.alt" />
        </div>
        <h5>{{project.title}}</h5>
        <p>{{project.details|seeMore:60}}</p>

        <div class="fw-bold">Current target {{project?.current_donation|currency}}</div>
    </div>
  </div>
</div>

<app-footer></app-footer>



<!-- Add Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title h5 text-success" id="staticBackdropLabel">Add New Project</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="alert-danger text-center py-2" *ngIf="addProjectErrorMessage">{{addProjectErrorMessage}}</p>
        <form class="row g-3" [formGroup]="addProject" (ngSubmit)="addingProject()" nctype="multipart/form-data">
          <input type="text" hidden>
          <div class="col-md-6">
            <label for="title" class="form-label">Title </label>
            <input id="title" [class.is-valid]="addProject.get('title')?.status=='VALID'" type="text" class="form-control" placeholder="Title" aria-label="First name" formControlName="title">
            <p class="text-danger" *ngIf="addProject.get('title')?.errors != null && addProject.get('title')?.touched">Invalid Field</p>
          </div>
          <div class="col-md-6">
            <label for="total_target" class="form-label">Total Target</label>
            <input type="number" [class.is-valid]="addProject.get('total_target')?.status=='VALID'" class="form-control" id="total_target" name="total_target" formControlName="total_target">
          </div>
          <div class="col-md-6">
            <label for="end_campaign" class="form-label">End campaign</label>
            <input type="date" class="form-control" id="end_campaign" name="end_campaign" formControlName="end_campaign" placeholder="2022-02-11">
          </div>
          <div class="col-md-6">
            <label for="tags" class="form-label"> Tags</label>
            <input [class.is-valid]="addProject.get('tags')?.status=='VALID'" type="text" class="form-control" id="tags" name="tags" formControlName="tags">
            <p class="text-danger" *ngIf="addProject.get('tags')?.errors != null && addProject.get('tags')?.touched">Invalid Field</p>
          </div>
          <div class="col-md-12">
            <label for="category" class="form-label">Category</label>
            <select  class="form-control" id="category" [class.is-valid]="addProject.get('category')?.status=='VALID'"  formControlName="category">
              <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
            </select>
            <p class="text-danger" *ngIf="addProject.get('category')?.errors != null && addProject.get('category')?.touched">Invalid Field</p>
          </div>
          <div class="col-12">
            <label for="images" class="form-label">Images</label>
            <input type="file" class="form-control" id="images" multiple="" name="images" formControlName="images"  (change)="onFileSelect($event)">
          </div>
          <div class="col-12">
            <label for="details" class="form-label">Details</label>
            <textarea type="text" class="form-control" id="details" formControlName="details" [class.is-valid]="addProject.get('details')?.status=='VALID'"></textarea>
          </div>
          <div class="col-12">
            <input type="submit" class="btn btn-success d-block w-100" value="Add" >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
